.to-do-box {
  border: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: black;
  margin-top: 1em;
  text-align: center;
}

#to-do-banner {
  font-weight: lighter;
  color: rgba(123, 17, 19, 1);
}

.todos {
  border: solid:
  border-color: black;
  border-radius: 0px 0px 15px 15px;
}
