<div class="to-do-box col-lg-6 col-lg-offset-3">
  <h2 id="to-do-banner">To Do</h2>
  <h4><input type="text" placeholder="What needs to be done?" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"/></h4>
  <div class="todos">
    <table *ngIf="todos.length > 0" class="table table-hover">
      <thead>
        <tr>
          <th>Complete</th>
          <th>Item</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#todo of todos">
          <td><input class="toggle" type="radio" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></td>
          <td>{{ todo.title }}</td>
          <td><button class="destroy" (click)="removeTodo(todo)"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
